{## Don't bother generating the field if we can't load the config ##}
{% if config ??? null %}

{## Native Craft macro library for creating <form> input elements ##}
{% import "_includes/forms" as forms %}

<div
    class="selectplus"
    data-field="{{ field.handle }}"
>
    {## Selectize Dropdown ##}
    <div class="control">
        {{ forms.selectizeField({
            name   : field.handle ~ "[value]",
            options: options,
            errors : error ? ["Make a new selection. Previous option unavailable."] : false,
            class  : 'selectize',
            value  : value.value ??? null,
            selectizeOptions: {
                highlight: false,
            }
        }) }}

        {## Gear Buttons (to load modal) ##}
        <div class="gears">
            {% for opt in config %}
                {% if opt.inputs ?? null %}
                    <button
                        data-modal='{{ "#{field.handle}__#{opt.value}" | lower }}__settings'
                        data-value="{{opt.value}}"
                        data-title="{{opt.tooltip.title ?? opt.label ~ ' Settings'}}"
                        class="btn btn-gear"
                        role="button"
                        type="button"></button>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="tooltips">
        {% for opt in config %}
            {% set tooltip = opt.tooltip.inline ?? null %}
            {% set title   = opt.tooltip.title  ?? "Documentation" %}
            {% set html    = opt.tooltip.html   ?? null %}
            {% set url     = opt.tooltip.url    ?? null %}
            {% set more    = opt.tooltip.more   ?? 'More&thinsp;→'|t %}

            {% if tooltip %}
                <div
                    data-value="{{opt.value}}"
                    data-title="{{title|e('html_attr')}}"
                    data-html="{{html|e('html_attr')}}"
                    data-url="{{url|e('html_attr')}}"
                    data-more="{{more|e('html_attr')}}"
                    class="tip"
                >
                    {{ tooltip | raw | widont }}

                    {% if html %}
                        <a href='{{url??'#'}}' class="btn-help">{{'More&thinsp;→'|t}}→</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {## Virtual Inputs ##}
    {% for opt in config | filter(o => o.inputs ?? null) %}
        {{ _self.virtualinputs( field, opt, value.json ) }}
    {% endfor %}

    {## JSON encoded values of Virtual Inputs associated with the selected option ##}
    {# {{ forms.hidden({ id: "#{id}-json", name: "#{field.handle}[json]", value: value.json }) }} #}
    {{ forms.hidden({ name: "#{field.handle}[json]", value: value.json }) }}
</div>

{## Field Config Error ##}
{% else %}<p class="error">The JSON config for this field is missing or corrupt. Talk to your CMS admin.</p>{% endif %}


{## Virtual Input Modal Contents ##}
{% macro virtualinputs( field, opt, values ) %}
    <template data-modal='{{ "#{field.handle}__#{opt.value}" | lower }}__settings'>

        {% set values = values | json_decode %}

        {## intro text ##}
        {% if opt.tooltip.modal ?? null %}<p class='intro'>{{ opt.tooltip.modal | striptags }}</p>{% endif %}

        {## virtual inputs ##}
        {% for input in opt.inputs | filter(o => o.type ??? null and o.name ??? null and o.label ??? null) %}

            {## prep all possible values at once before individual field rendering ##}
            {% set input = {
                type         : input.type,
                name         : input.name,
                label        : input.label | t('app'),
                value        : input.value        ?? null,
                min          : input.min          ?? null,
                max          : input.max          ?? null,
                step         : input.step         ?? null,
                size         : input.size         ?? null,
                options      : input.options      ?? [],
                maxlength    : input.maxlength    ?? 255,
                fieldClass   : input.fieldClass   ?? 'width-50',
                placeholder  : input.placeholder  ?? null | t('app'),
                instructions : input.instructions ?? null | t('app'),
            } %}


            {## Complex <select> options?
            {-------------------------------------------------------------------------##}
            {% if ( ( input.options | first ) is iterable ) %}
                {% set input = input | merge({
                    options: input.options|map(o => {
                        label: o.label,
                        value: o.value,
                        data : o | withoutKey(['value', 'label'])
                    })})
                %}
            {% endif %}
            {##-------------------------------------------------------------------------}
                <select> fields can have additional settings associated with each option,
                i.e. (besides 'value' and 'label'). These get stored on the <option>
                element as data attributes. The difference in JSON config is:

                Simple:
            {---------------------------------------------------------------------------}
                "options" : {
                    "autolink": "Auto Link",
                    "modal"   : "Lightbox",
                    "download": "Download Image",
                    "none"    : "No Click Action"
                }

                Complex:
            {---------------------------------------------------------------------------}
                "options" : [{
                    "value": "left",
                    "label": "Left Aligned",
                    "microlayout" : "zone1Top"
                },{
                    "value": "middle",
                    "label": "Middle Aligned",
                    "microlayout" : "zone1Top__center"
                }]
            {-------------------------------------------------------------------------##}


            {## Render virtual fields based on type
            {---------------------------------------------------------------------------}
                Default any unknown types to text inputs.
            {-------------------------------------------------------------------------##}
            {% switch input.type %}
            {% case "lightswitch" %}
                {{ forms.lightswitchField({
                    name        : input.name,
                    label       : input.label,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% case "select" %}
                {{ forms.selectField({
                    name        : input.name,
                    label       : input.label,
                    value       : input.value,
                    options     : input.options,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% case "radiogroup" %}
                {{ forms.radioGroupField({
                    name        : input.name,
                    label       : input.label,
                    value       : input.value,
                    options     : input.options,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% case "number" %}
                {{ forms.textField({
                    type        : 'number',
                    name        : input.name,
                    label       : input.label,
                    value       : input.value,
                    size        : input.size ?? 8,
                    min         : input.min,
                    max         : input.max,
                    step        : input.step,
                    fieldClass  : input.fieldClass,
                    placeholder : input.placeholder,
                    instructions: input.instructions,
                }) }}
            {% case "date" %}
                {{ forms.dateField({
                    name        : input.name,
                    label       : input.label,
                    value       : input.value,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% case "time" %}
                {{ forms.timeField({
                    name        : input.name,
                    label       : input.label,
                    value       : input.value,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% case "money" %}
                {{ forms.moneyField({
                    name        : input.name,
                    label       : input.label,
                    value       : input.value,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% case "icon" %}
                {{ forms.iconPickerField({
                    name        : input.name,
                    label       : input.label,
                    value       : values[input.name] ??? input.value,
                    fieldClass  : input.fieldClass,
                    instructions: input.instructions,
                }) }}
            {% default %}
                {{ forms.textField({
                    name        : input.name,
                    label       : input.label,
                    size        : input.size,
                    value       : input.value,
                    maxlength   : input.maxlength,
                    fieldClass  : input.fieldClass,
                    placeholder : input.placeholder,
                    instructions: input.instructions,
                }) }}
            {% endswitch %}
        {% endfor %}
    </template>
{% endmacro %}